<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css"/>
	</head>
	<body ng-controller="StoreController as store">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<h1>{{product.name}}</h1>

				<h3> 
					{{product.description}}
					<em class="pull-right">{{product.price | currency}}</em>
					
				</h3>

				<!-- Image Gallery -->
				<div class="img-wrap" ng-controller="GalleryController as gallery">
					<img ng-src="{{product.images[gallery.current]}}"/>
					<ul class="list-inline thumbs">
						<li class="thumbnail" ng-repeat="image in product.images">
							<img src="{{image}}"/>
						</li>
					</ul>
				</div>

				<section ng-init="tab = 1" ng-controller="PanelController as panel">

					<!-- Tab Nav -->
					<ul class="nav nav-pills">
						<li ng-class="{ active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
						<li ng-class="{ active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
						<li ng-class="{ active: panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
					</ul>
					<div class="panel" ng-show="panel.isSelected(1)">
						<blockquote>{{product.description}}</blockquote>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<blockquote>No Specs Yet</blockquote>
					</div>
					<!-- Reviews -->
					<div class="panel" ng-show="panel.isSelected(3)">
						<h4> Reviews </h4>

						<blockquote ng-repeat="review in product.reviews">
								<b>Stars: {{review.stars}} </b></br>
								{{review.body}}</br>
								<footer> {{review.author}} </footer>
						</blockquote>
						<!-- Live Preview -->
						<form class="form-horizontal" role="form" name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
							<div>
								<blockquote>
									<h4>Preview</h4>
									<strong>Stars: {{reviewCtrl.review.stars}}</strong></br>
									{{reviewCtrl.review.body}}</br>
									<cite class="clearfix">&mdash;{{reviewCtrl.review.author}}</cite>
								</blockquote>
								<fieldset class="form-group">
									<select  ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
			              			<option value="">Rate the Product</option>
			            			</select>
								</fieldset>
								<fieldset class="form-group">
									<label for="inputComments" class="control-label">Your Comments: </label>
									<textarea class="form-control" id="inputComments" rows="2" ng-model="reviewCtrl.review.body" required></textarea>
								</fieldset>
			            		<fieldset class="form-group">
			            			<label for="inputEmail" class="control-label">Email: </label>
									<input class="form-control" placeholder="Text input" ng-model="reviewCtrl.review.author" type="email" id="inputEmail" / required>
			            		</fieldset>
			            		<fieldset>
			            			<button type="submit" class="btn btn-primary pull-right">Submit</button>
			            		</fieldset>
							</div>
							
						</form>
					</div>
				</section>
				<button ng-show="product.canPurchase" class="btn btn-primary"> Add to Cart </button>
			</li>
		</ul>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>